header{
    height: 108px;
}
.container{
    width: 1246px;
    margin:0 auto;
}
.login{
    width: 200px;
    height: 108px;
    background:url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}
.login a{
    display: block;
    height: 108px;
    text-indent: -9999px;
}

/* 图片 */
.banner{
    height: 648px;
    background-color: #ebfdff;
}
.wrap{
    height: 648px;
    position: relative;
    background:url(../img/images/banner0_03.jpg) no-repeat center left;

}
/* 表单输入登录 */
.main_content{
    width: 450px;
    height: 616px;
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 35px;
}
.layout{
    margin: 32px;
}
.content_top{
    width: 384px;
    height: 32px;
    text-align: center;
}
.content_top a:nth-of-type(1){
    font-size:22px;
    color:#ff6700;
    line-height: 32px;
}
.content_top .spann{
    width: 1px;
    height: 32px;
    margin: 0 35px 0 42px;
    color: #e0e0e0;   
}
.content_top a:nth-of-type(2){
    font-size:22px;
    color:#666;
    line-height: 32px;
}
.input_box{
    width: 384px;
    height: 126px;
    margin-top: 28px;
    margin-bottom: 10px;
}
.input_box input{
    width: 384px;
    height: 56px;
    border:3px solid #e9e9e9;
    text-indent: 24px;
}
.input_box span{
    display: block;
    width: 384px;
    height: 16px;
    line-height: 16px;
    color: red;
    text-align: center;
}
.btn_big {
    width: 384px;
    height: 56px;
}
.btn_big input{
    width: 390px;
    height: 56px;
    margin-top: 24px;
    background-color: #ff6700;
    border:none;
}
.register_way{
    width: 386px;
    height: 84px;
    text-align: center;
    margin-top: 140px;
}
.register_way a:nth-of-type(1){
    display: block;
    color:#ff6700;
    font-size: 14px;
}
.register_way a:nth-of-type(2){
    display: inline-block;
    margin-top: 40px;
}
.register_way span{
    margin: 0 10px;
    color: #999;
}

.login_way{
    margin-top: 160px;
    width: 386px;
    height: 40px;
    padding-left:50px;
    box-sizing: border-box;
}
.login_way a{
    display: block;
    float: left;
    margin: 0 18px;
    width: 36px;
    height: 36px;
    border-radius:18px;
    color: #fff;
    text-align: center;
    line-height: 36px;
}
.login_way a:nth-of-type(1){
    background-color: #0288d1;
}
.login_way a:nth-of-type(2){
    background-color: #d32f2f;
}
.login_way a:nth-of-type(3){
    background-color: #00aaee;
}
.login_way a:nth-of-type(4){
    background-color: #00d20d;
}

/* 底部 */
footer{
    height: 202px;
}
.footer{
    height: 202px;
    background-color: #fff;
    text-align: center;
}
.footer ul{
    margin-top: 116px;
    overflow: hidden;
    margin-left:509px;
}
.footer ul li{
    float: left;
}
.footer ul li span{
   margin: 0 10px;
}
.footer ul li a{
    font-size: 16px;
}
.footer p{
    margin-top: 30px;
}